/* Positioning and Sizing of NavBar Elements */

.Logo {
margin-right: 750px;
margin-left: 200px;
font-family: Montserrat;
font-size: 48px;
color: white;
}

.About {
    margin-right: 75px;
}

.Contact {
    margin-right: 75px;
    color: white;
}

.Courses {
    margin-right:75px;
    color: white;

}