
/* Stylesheet for the Homepage */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Dash-bg {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title1{
  color: white;
  position: absolute;
  top: 220px;
  left: 200px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 56px;
}

.title2{
  color: white;
  position: absolute;
  top: 280px;
  left: 200px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 56px;
}

.title3{
  color: white;
  position: absolute;
  top: 340px;
  left: 200px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 56px;
}

.motto{
  position: absolute;
  left:1100px;
  top: 220px;
  color: white;
}

.introDiv {
  color: white;
  width: 650px;
  position: absolute;
  top: 450px;
  left: 200px;
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
}

.overlay{
  background-color: rgba(184, 129, 28, 0.25);
  position: absolute;
  top: 200;
  left: 0;
  width: 1920px;
  height: 1080px;
}

.pass{
  position: absolute;
  top: 450px;
  left: 1215px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 28px;
  color: white;

}

.email{
  position: absolute;
  top: 350px;
  left: 1150px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 28px;
  color: white;

}

.emailLabel{
  margin-right: 20px;
}

.passLabel {
  margin-right: 20px;
}


input {
  width: 200px;
  padding: 8px 15px;
  border-radius: 80px;
  border-style: solid;
  border-color: #000;
}

.btn {
  border-style: solid;
  border-color: #000;
  border-radius: 10px;
  background: white;
  padding: 15px 40px;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 600;
  margin-left: 1300px;
  margin-top: 520px;

}

button:hover {
  transition: all 0.2s ease-in-out;
  background: #FFCF3E;
  color: #000;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
